<div class="container repartirsillas">
    <div class="row">
        <div class="col texto">
            <p>{{jE}} se sienta donde quiera, {{jS}} a la derecha de {{jE}}, y {{jW}} a la derecha de {{jS}}. La silla restante para {{jN}}. La silla donde se siente ahora {{jE}}, sera la silla referenciada. Señaladla con algo.</p>
        </div>
        <div class="col sillas">
            <div class="posicionsillas container">
                <div class="row">
                    <div class="col posjugador superior Soeste">{{jW}}</div>
                </div>
                <div class="row">
                    <div class="col posjugador izquierdo Snorte">{{jN}}</div>
                    <div class="col posjugador derecho Ssur">{{jS}}</div>
                </div>
                <div class="row">
                    <div class="col posjugador inferior Seste">{{jE}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"><button id="comienzo" (click)="iraletrero()" >Comenzar</button></div>
    </div>
</div>