<div class="container sinpuntos">
    <div class="row">
        <div class="col fan" [innerHTML]="jugadasReadonlyChild.nombre"></div>
        <ng-container [ngSwitch]="casodesc">
            <div class="col detalle funado" *ngSwitchCase=1> Sin detalles </div>
            <div class="col detalle" *ngSwitchCase=2 [innerHTML]="jugadasReadonlyChild.detalles"></div>
            <div class="col detalle" *ngSwitchCase=3 [innerHTML]="jugadasReadonlyChild.detallesHTML"></div>
        </ng-container>
    </div>
    <div class="row">
        <button *ngFor="let res of baraja" class="col respuesta" [innerHTML]="res" (click)="_c.comprobador(jugadasReadonlyChild,res,'puntos')" ></button>
    </div>
</div>
