<!--
tutorial de Angular templates:
https://profile.es/blog/angular-templates-las-directivas-ng-template-ng-container-y-ngtemplateoutlet/
-->

<div class="container menucoleccion">
    <div class="row">
        <div class="col titulocentrado">MahApps</div>
    </div>
    <div class="row coleccion">
        <div class="col subapp" [class.seleccionado]="funcionamiento.conmutadores.buscador" (click)="accionconmutadora('buscador')" >Buscador</div>
        <div class="col subapp" [class.seleccionado]="funcionamiento.conmutadores.quiz" (click)="accionconmutadora('quiz')">Quiz</div>
        <div class="col subapp" [class.seleccionado]="funcionamiento.conmutadores.letrero" (click)="accionconmutadora('letrero')">Letrero</div>
    </div>
    <div *ngIf="true" class="row seleccion">

        <ng-container *ngIf="funcionamiento.conmutadores.buscador">
            <ng-container *ngFor="let item of funcionamiento.opciones.buscador">
                <a class="col opcion" [class.deshabilitado]="item[1] == ''"  href="{{item[1]}}"><div>{{item[0]}}</div></a>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="funcionamiento.conmutadores.quiz">
            <ng-container *ngFor="let item of funcionamiento.opciones.quiz">
                <a class="col opcion" [class.deshabilitado]="item[1] == ''"  href="{{item[1]}}"><div>{{item[0]}}</div></a>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="funcionamiento.conmutadores.letrero">
            <ng-container *ngFor="let item of funcionamiento.opciones.letrero">
                <a class="col opcion" [class.deshabilitado]="item[1] == ''"  href="{{item[1]}}"><div>{{item[0]}}</div></a>
            </ng-container>
        </ng-container>
    
    </div>
</div>