<!--
tutorial de Angular templates:
https://profile.es/blog/angular-templates-las-directivas-ng-template-ng-container-y-ngtemplateoutlet/
-->

<div *ngIf="iterable" [ngSwitch]="iterable.caso">
    <ng-container *ngSwitchCase=false>
        <app-sindesc [jugadasReadonlyChild]="iterable.jugadas"></app-sindesc>
    </ng-container>
    <ng-container *ngSwitchCase=true [ngSwitch]="random">
        <app-sinpuntos *ngSwitchCase=1 [jugadasReadonlyChild]="iterable.jugada"></app-sinpuntos>
        <app-sindescondesc *ngSwitchCase=2 [jugadasReadonlyChild]="iterable.jugada"></app-sindescondesc>
        <app-sinfan *ngSwitchCase=3 [jugadasReadonlyChild]="iterable.jugada"></app-sinfan>
    </ng-container>
</div>