<div class="container" [ngClass]="{'deshabilitado':des}">
    <div class="row">
        <div class="col-8 tarjetaspuntos">
            
            <div *ngFor="let jugador of listajugadores" class="row tarjeta {{jugador.superaa | posicion}} {{jugador.viento | viento}}">
                <div class="col-2 viento" [ngSwitch]="jugador.viento" >
                    <div class="simbolo" *ngSwitchCase="'E'" >東</div><div class="nombre" *ngSwitchCase="'E'">Este</div>
                    <div class="simbolo" *ngSwitchCase="'S'" >南</div><div class="nombre" *ngSwitchCase="'S'">Sur</div>
                    <div class="simbolo" *ngSwitchCase="'W'" >西</div><div class="nombre" *ngSwitchCase="'W'">Oeste</div>
                    <div class="simbolo" *ngSwitchCase="'N'" >北</div><div class="nombre" *ngSwitchCase="'N'">Norte</div>
                </div>
                <div class="col-4 jugador">{{jugador.nombre}}</div>
                <div class="col puntos">{{jugador.puntos | puntos}}</div>
            </div>
        
        </div>
        <div class="col-4 controles">
            <div class="numeronda container">
                <div class="row">
                    <div class="col viento {{vientoronda[0]}}">{{vientoronda[1]}}</div>
                    <div class="col ronda">{{numemano}}/16</div>
                </div>
                <app-manosplus class="manosplus" [pshijo]="plusarray"></app-manosplus>
                <div class="row">
                    <button class="col botonhu btn" (click)="iratabla()" [disabled]="des">MahJong!</button>
                    <button class="col botonhu btn" (click)="manomuerta()" [disabled]="des">Mano Muerta</button>
                </div>
                <div class="row" *ngIf="cambiosillas[0] != ''" >
                    <p class="avisocambiodesillas {{cambiosillas[1]}}">{{cambiosillas[0]}}</p>
                    <button class="{{cambiosillas[1]}} entendidoboton" (click)="quitarpopup()">Entendido</button>
                </div>
            </div>
        </div>
    </div>
<app-reseteador></app-reseteador>
