.prueba
    border: 5px solid red
    border-radius: 10px
    padding: 20px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    flex-wrap: nowrap
    position: fixed
    right: 50px
    bottom: 50px
    i
        font-size: 3rem
        color: white
    p
        margin: 0px 15px
        font-size: 1.25rem
        color: white
        font-weight: 700
    .label-radio
        color: blue
        border: 2px solid blue
    input[type="checkbox"]
        display: none
        &:checked + .label-radio
            color: yellow
            border: 2px solid yellow
