.tablafans
    ul
        list-style-type: none
        margin-left: -80px
    .pts,.nº,.tipos,.packs,.nombre,.desc
        font-size: 0.8rem
    .header
        font-size: 1.2rem !important
    .header,.pts,.nº,.tipos,.packs,.nombre
        display: flex
        justify-content: center
        align-items: center
    .col
        border: 1px solid white
        padding: 10px
    .row
        min-height: 50px
        .pts,.nº
            max-width: 5%
        .tipos,.packs
            max-width: 10%
        .nombre,.desc
            max-width: 100%
        .desc
            display: flex
            align-items: center
            text-align: justify
    
    //Estilos de descripción
        .negrita
            font-weight: 700