<div class="container">
    <div class="row">
        <div class="col huformulario">
            <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">
                <div class="filaform">
                    <p>¿quien la gano la mano {{numemano}} / 16?</p>
                    <div *ngFor="let jugador of squad">
                        <input  type="radio"
                                name="ganamano"
                                value="{{jugador.nombre}}"
                                id="{{jugador.nombre}}"
                                formControlName="ganamano"
                                required>
                        <label  class="label-radio" for="{{jugador.nombre}}">{{jugador.nombre}}</label>
                    </div>
                </div>
                <div class="filaform">
                    <p>¿quien dio la ultima ficha?</p>
                    <div *ngFor="let jugador of squad">
                        <input  type="radio"
                                name="dealer"
                                value="{{jugador.nombre}}"
                                id="{{jugador.nombre | ridfinal}}"
                                formControlName="dealer"
                                required>
                        <label class="label-radio" for="{{jugador.nombre | ridfinal}}">{{indicadormuro(jugador.nombre)}}</label>
                    </div>
                </div>
                <div class="filaform">
                    <p>Puntuación de la mano mas flores:</p>
                    <button (click)="iraletrero()">Retroceder</button>
                    <input  type="number"
                            name="puntuacion"
                            formControlName="puntuacion"
                            placeholder="Valor"
                            required>
                    <button type="submit"
                            [disabled]="submitvalido()"
                            class="botonconfirmar">Confirmar</button>
                </div>
                <!-- {{forma.value | json}} -->
            </form>
        </div>
    </div>
</div>





<!--
<div class="container">
    <div class="row">
        <div class="col huformulario">
            <form action="">
                <div class="filaform">
                    <p>quien gano la ronda x?</p>
                    <input type="radio" name="ganador" id="Raffa" value="Raffa"><label for="Raffa" class="label-radio">Raffa</label>
                    <input type="radio" name="ganador" id="Kaleloso" value="Kaleloso"><label for="Kaleloso" class="label-radio">Kaleloso</label>
                    <input type="radio" name="ganador" id="Garsi" value="Garsi"><label for="Garsi" class="label-radio">Garsi</label>
                    <input type="radio" name="ganador" id="Carlos" value="Carlos"><label for="Carlos" class="label-radio">Carlos</label>
                </div>
                <div class="filaform">
                    <p>de quien robo la ultima ficha?</p>
                    <input type="radio" name="robo" id="Muro" value="Muro"><label for="Muro" class="label-radio">M U R O</label>
                    <input type="radio" name="robo" id="KalelosoR" value="Kaleloso"><label for="KalelosoR" class="label-radio">Kaleloso</label>
                    <input type="radio" name="robo" id="GarsiR" value="Garsi"><label for="GarsiR" class="label-radio">Garsi</label>
                    <input type="radio" name="robo" id="CarlosR" value="Carlos"><label for="CarlosR" class="label-radio">Carlos</label>
                </div>
                <div class="filaform">
                    <p>Puntuación de la mano mas flores:</p>
                    <button (click)="iraletrero()">Retroceder</button>
                    <input type="text" placeholder="Valor" name="valor" maxlength="4">
                    <button>Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>
-->